{% extends "main.html" %}

{% block content %}
<form action="/lib/post.php" method="post">
  <fieldset>
    <legend>New Post</legend>
    <label>Title</label>
    <input type="text" placeholder="Title" name="title" class="span8">
    <label>Type</label>
    <select name="type">
      <option>Posts</option>
    </select>
    <label>Date</label>
    <input type="text" placeholder="Date" name="date">
    <span class="help-block">Most date formats should work.</span>
    <label>Content</label>
    <textarea rows="8" name="content" class="span8"></textarea>
    <span class="help-block">Use some Markdown, yo.</span>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>
{% endblock %}
