{% extends "main.html" %}

{% block content %}
<div class="row-fluid">
	<div class="span12">
		<header class="page-header">
			<h1>{{ meta.title }}</h1>
		</header>
		{{ content }}

		{% for item in items %}
		<article class="post">
			<header>
				<h3>
					<a href="{{ item.url }}">{{ item.meta.title }}</a>
					{% if item.meta.date %} <small>{{ item.meta.date|date("F jS\, Y") }}</small>{% endif %}
				</h3>
			</header>
			{{ item.content }}
		</article>
		{% else %}
			<p>No posts found.</p>
		{% endfor %}
	</div>
</div>
{% endblock %}
