{% extends "main.html" %}

{% block content %}
{% if meta.date %}
<div class="jumbotron">
  <img src="{{ meta.attachment }}" >
  <h2>{{ meta.date|date("F jS \\a\\t g:ia") }}</h2>
</div>
{% endif %}

<div class="row-fluid">
  <div class="span12">
      {{ content }}
      <ul>
      	{% for title, url in items %}
      		<li><a href="{{ url }}">{{ title }}</a></li>
      	{% else %}
      		<p>No posts found.</p>
      	{% endfor %}
      </ul>
  </div>
</div>
{% endblock %}
